@import 'tailwindcss';
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';

@source '../../react';
@source '../../vue';
@source '../../svelte';
@source '../../solid';

@theme {
  --color-fd-background: oklch(0.970 0 0);
  --color-fd-foreground: oklch(0.145 0 0);
  --color-fd-muted: oklch(0.970 0 0);
  --color-fd-muted-foreground: oklch(0.556 0 0);
  --color-fd-popover: oklch(0.985 0 0);
  --color-fd-popover-foreground: oklch(0.271 0 0);
  --color-fd-card: oklch(0.960 0 0);
  --color-fd-card-foreground: oklch(0.145 0 0);
  --color-fd-border: oklch(0.845 0 0 / 0.5);
  --color-fd-primary: oklch(0.204 0 0);
  --color-fd-primary-foreground: oklch(0.985 0 0);
  --color-fd-secondary: oklch(0.947 0 0);
  --color-fd-secondary-foreground: oklch(0.204 0 0);
  --color-fd-accent: oklch(0.861 0 0 / 0.5);
  --color-fd-accent-foreground: oklch(0.204 0 0);
  --color-fd-ring: oklch(0.715 0 0);
}

.dark {
  --color-fd-background: oklch(0.182 0 0);
  --color-fd-foreground: oklch(0.939 0 0);
  --color-fd-muted: oklch(0.247 0 0);
  --color-fd-muted-foreground: oklch(0.765 0 0 / 0.8);
  --color-fd-popover: oklch(0.233 0 0);
  --color-fd-popover-foreground: oklch(0.899 0 0);
  --color-fd-card: oklch(0.213 0 0);
  --color-fd-card-foreground: oklch(0.985 0 0);
  --color-fd-border: oklch(0.510 0 0 / 0.2);
  --color-fd-primary: oklch(0.985 0 0);
  --color-fd-primary-foreground: oklch(0.204 0 0);
  --color-fd-secondary: oklch(0.247 0 0);
  --color-fd-secondary-foreground: oklch(0.939 0 0);
  --color-fd-accent: oklch(0.518 0 0 / 0.3);
  --color-fd-accent-foreground: oklch(0.923 0 0);
  --color-fd-ring: oklch(0.640 0 0);
}

@theme inline {
  --color-background: oklch(0.145 0 0);
  --color-foreground: oklch(0.922 0 0);
  --color-card: oklch(0.178 0 0);
  --color-border: oklch(0.269 0 0);
  --color-muted: oklch(0.235 0 0);
  --color-muted-foreground: oklch(0.708 0 0);
  --color-accent: oklch(0.245 0 0);
  --color-accent-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.955 0 0);
  --color-primary-foreground: oklch(0.205 0 0);
  --color-secondary: oklch(0.218 0 0);
  --color-secondary-foreground: oklch(0.922 0 0);
  --color-input: oklch(0.321 0 0);
  --color-ring: oklch(0.715 0 0);
  --color-surface-2: oklch(0.218 0 0);
}
